.budgetBookApp-Page > section {
  top: 3.5rem !important;
  height: auto !important;
}
.budgetBookApp-Page-Header {
  height: 3.5rem !important;
  background: linear-gradient(to left, #005575, #514a9d) !important;
  -webkit-app-region: drag;
}
.budgetBookApp-Page-Header > .sapMBarLeft {
  height: 3.5rem !important;
  padding-left: 2rem;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.budgetBookApp-Page-Header > .sapMBarRight {
  height: 3.5rem !important;
  padding-right: 2rem;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.budgetBookApp-Container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.budgetBookApp-TitleContainer {
  display: flex;
  flex-direction: column;
}
.budgetBookApp-TitleContainer:hover .budgetBookApp-BrandBar {
  width: 100%;
}
.budgetBookApp-Page-Title {
  color: white !important;
  user-select: none;
}
.budgedBook-Page-VersionLabel {
  color: #ccc !important;
  font-size: 0.625rem !important;
  margin-left: 0.25rem;
}
.budgetBookApp-BrandBar {
  height: 1px;
  width: 0px;
  transition: width 0.2s ease-out;
  background: white;
}
.budgetBookApp-Page-Button {
  color: white !important;
  margin-left: 0.5rem !important;
  padding: 0.5rem !important;
  transition: background-color 0.5s ease-out;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid transparent;
}
.budgetBookApp-Page-Button:hover {
  background-color: #003c52;
}
.sapMBtnInner {
  transition: background-color 0.1s ease-out;
}
.budgetBookDialog {
  padding: 1rem;
}
.budgetBookDialog .sapMInputBaseContentWrapper {
  border-left: none;
  border-right: none;
  border-top: none;
  transition: border-color 0.2s;
}
.budgetBookDialog-Toolbar {
  padding: 0.25rem 1rem;
  border-bottom: 1px solid #e5e5e5;
}
.budgetBookDialog-FormInputContainer {
  padding-bottom: 0.75rem;
}
.sapMFocus .sapMInputBaseContentWrapper {
  outline: none !important;
}
* {
  outline: none !important;
}
.sapMSFF::before {
  border: none !important;
}
.sapMMessageToast {
  background: linear-gradient(to left, #005575, #514a9d) !important;
  color: white !important;
}
.sapUiMnuItm[data-iscurrentmonth="true"] {
  color: #c0399f !important;
}
.sapUiMnuItm[data-iscurrentmonth="true"]:active {
  color: white !important;
}
.sapUiMnuItm[data-isyear="true"] {
  background-color: #f7f7f7;
}
.sapUiMnuItm[data-isyear="false"] {
  padding-left: 0.25rem;
}
.budgetBookOverview-currency .sapUiUfdCurrencyCurrency {
  width: unset;
}
.budgetBookOverview-currency[data-type="expense"] {
  color: #bb0000;
}
.budgetBookOverview-currency[data-type="income"] {
  color: #14B341;
}
.budgetBookOverview-transactionItem:hover .budgetBookOverview-deleteIcon .sapMBtnIcon {
  color: #bb0000;
}
.budgetBookOverview-deleteIcon {
  background-color: transparent;
  border: none;
}
.budgetBookOverview-deleteIcon .sapMBtnIcon {
  cursor: pointer;
  color: transparent;
  transition: color 0.2s ease-out;
}
.sapMList {
  border: 1px solid #e5e5e5;
}
.sapMList .sapMListShowSeparatorsAll .sapMLIBShowSeparator:first-child > td {
  border-top: none;
}
.sapMList .sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child > td {
  border-bottom: none;
}
.sapMList .sapMListTblHeader .sapMTableTH {
  position: sticky;
  top: var(--kellojoM-page-header-height);
  z-index: 10;
}
.sapMList .sapMListTblSelCol {
  padding-left: 0.5rem;
}
.sapMList .sapMListItems .sapMListTblCell {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
.sapMList .sapMListItems .sapMListTblRow:not(.sapMLIBActive) .kellojoM-lightLabel {
  color: #6a6d70;
}
.sapMList .sapMLIBSelected {
  box-shadow: none !important;
}
.budgetBookTable-lightLabel {
  color: #6a6d70 !important;
}
.budgetBookWelcome-contentWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.budgetBookWelcome-title {
  font-size: 2rem !important;
  margin-bottom: 2rem;
  background-image: linear-gradient(to left, #005575, #514a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.budgetBookWelcome-getStarted {
  margin-top: 2.5rem;
}
.budgetBookWelcome-decisionContainer {
  display: flex;
  flex-direction: row;
}
.budgetBookWelcome-decision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.budgetBookWelcome-divider {
  width: 1px;
  height: calc(100% - 1rem * 2);
  box-sizing: border-box;
  margin: 1rem;
  background-color: #e5e5e5;
}
.budgetBookWelcome-decisionHelperIcon {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(to left, #005575, #514a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.budgetBookWelcome-decisionAction {
  margin-top: 1rem !important;
}
.budgetBookWelcome-decisionAction .sapMBtnInner {
  transition: all 0.25s ease-out;
  box-shadow: none;
}
.budgetBookWelcome-decisionAction .sapMBtnInner:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
