

.budgetBookDialog {
    padding: @defaultPadding;

    .sapMInputBaseContentWrapper {
        border-left: none;
        border-right: none;
        border-top: none;
        transition: border-color 0.2s;
    }
}

.budgetBookDialog-FormInputContainer {
    padding-bottom: @smallerPadding;
}

.sapMFocus .sapMInputBaseContentWrapper {
    outline: none !important;
}